@using MuhBilUyg.Models.isci_analizdb
@model hesaplama
@{
    ViewBag.Title = "AkortIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-6">
    <div class="card">
        @using (Html.BeginForm("AkortHesapla", "Hesaplama", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card-body">
                <h4 class="card-title">AKORT ÖDEMESİ HESAPLAMA </h4>
                <div class="form-group row">
                    <label for="fname"
                           class="col-sm-3 text-end control-label col-form-label">Kisi İsmi : </label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.kisi_ismi, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group row">
                    <label for="fname"
                           class="col-sm-3 text-end control-label col-form-label">Ürün Adedi Ücreti: </label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.urun_fiyat, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group row">
                    <label for="lname"
                           class="col-sm-3 text-end control-label col-form-label"> Minimum Ürün Adedi :</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.min_adet, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                </div>
                <div class="form-group row">
                    <label for="lname"
                           class="col-sm-3 text-end control-label col-form-label">Katlanan Fiyat :</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.katlanan_fiyat, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    <label style="opacity:70%;"> Minimum ürün adedinden sonra kaç adet üründe katlama yapılsın ? Örneğin 50 adet üründen sonra her ürün adedi için +5 TL.</label>

                </div>
                <div class="form-group row">
                    <label for="lname"
                           class="col-sm-3 text-end control-label col-form-label">Toplam Ürün Adedi :</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.toplam_urun, new { htmlAttributes = new { @class = "form-control" } })

                    </div>

                </div>
                <div class="form-group row">
                    <label for="lname"
                           class="col-sm-3 text-end control-label col-form-label"> Ekstra Ücret :</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.ekstra_ucret, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    <label style="opacity:70%;"> Yol,yemek vb. </label>

                </div>
            </div>
            <div class="border-top">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary" style="margin-left:500px;">
                        HESAPLA
                    </button>
                </div>
            </div>
            @TempData["testmsg"]
        }
    </div>
</div>


