@using MuhBilUyg.Models.isci_analizdb
@model hesaplama
@{
    ViewBag.Title = "PrimIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">

        @using (Html.BeginForm("PrimHesapla", "Hesaplama", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="card-body">
            <h4 class="card-title">PRİM ÖDEMESİ HESAPLAMA </h4>

            <div class="form-group row">
                <label for="fname"
                       class="col-sm-3 text-end control-label col-form-label">Kisi İsmi : </label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.kisi_ismi, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-group row">
                <label for="fname"
                       class="col-sm-3 text-end control-label col-form-label">Ürün Adedi Ücreti: </label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.urun_fiyat, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-group row">
                <label for="lname"
                       class="col-sm-3 text-end control-label col-form-label"> Minimum Ürün Adedi : </label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.min_adet, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>
            <div class="form-group row">
                <label for="lname"
                       class="col-sm-3 text-end control-label col-form-label">Saatlik Ücret : </label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.saatlik_ucret, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            </div>
            <div class="form-group row">
                <label for="lname"
                       class="col-sm-3 text-end control-label col-form-label">Çalışılan Saat : </label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.toplam_saat, new { htmlAttributes = new { @class = "form-control" } })

                </div>

            </div>
            <div class="form-group row">
                <label for="lname"
                       class="col-sm-3 text-end control-label col-form-label"> Ekstra Ücret :</label>
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.ekstra_ucret, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <label style="opacity:70%;"> Yol,yemek vb. </label>

            </div>
        </div>
            <div class="border-top">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary" style="margin-left:500px;">
                        HESAPLA
                    </button>
                </div>
            </div>

            @TempData["testmsg"]


        }

    </div>
</div>

